*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	background: rgba(0,0,0,.8);
	position: fixed;
	z-index: 10;
}
/* aqui estamos modificando el ancho */
.ancho{
	width: 80%;
	height: 50px;
	/*background: red;*/
	margin: auto;
}
.logo{
	width: 30%;
	height: 50px;
	/*background: blue;*/
	float: left;
	
	padding-top:15px;
	box-sizing: border-box;
	text-transform: uppercase;
}
.logo p a {
	color: #fff;
	font-style: 40px;
	text-decoration: none;
	font-weight: bold;
	font-family: rale;
}
.logo p a:hover{
	color: #444;
}
nav{
	width: 70%;
	height: 50px;
	/*background: olive;*/
	float: left;
	text-align: right;
	padding-top: 15px;
	box-sizing: border-box;
}
nav ul li{
	display: initial;

}
nav ul li a{
	 color: #fff;
	 font-style: 13px;
	 text-decoration: none;
	 text-transform: uppercase;
	 padding-left: 15px;
	 font-weight: bold;
	 letter-spacing: 1px;
	 font-family: rale;


}
nav ul li a:hover{
	color: #444;
}
@font-face{
	font-family: rale;
	src:url(fuentes/Raleway-Regular.ttf);
}




