.lecturas1{
	width: 100%;
	clear: both;
	padding: 100px 0;
	text-align: left;
	/*background: #DFDDDD;*/
}
.contenido1{
	width: 90%;
	margin: auto;
}
.c-1 img{
	
	float: right;
	padding: 32px 0;
	padding-left:30px;
	font-weight: bold;
	width: 500px;
	height: 505px;

}

/*segunda seccion*/

.lecturas2{
	width: 100%;
	clear: both;
	padding: 100px 0;
	text-align: left;
	background: rgba(179,179,179,.10);
}
.contenido2{
	width: 90%;
	margin: auto;
}
.c-2 h3 img{
	
	float: left;
	
	padding-right: 30px;
	font-weight: bold;
	width: 500px;
	height: 435px;


}


/*tersera seccion*/

.lecturas3{
	width: 100%;
	clear: both;
	padding: 100px 0;
	text-align: left;
	background: rgba(0,88,131,.3);
	
}
.contenido3{
	width: 90%;
	margin: auto;
}
.c-3{
	padding-left: 50px;
}
.c-3 img{
	
	padding: 32px 0;
	padding-right: :30px;
	font-weight: bold;
	width: 90%;
	height: 505px;

}


/*cuarta seccion*/

.lecturas4{
	width: 100%;
	clear: both;
	padding: 100px 0;
	text-align: left;
	/*background: #272C72;*/
	
}
.contenido4{
	width: 90%;
	margin: auto;
}
.contenido4 i{
	padding: 32px 0;
	padding-right: 30px;
	font-weight: bold;
	float: left;
	

}
.contenedor{
	width: 100%;
	margin: center;
	

}
.c-4{
	width: 28.6%;
	float: left;
	padding: 25px 25px;
	box-sizing: border-box;
}




/*quinta seccion*/

.lecturas5{
	width: 100%;
	clear: both;
	padding: 100px 0;
	text-align: left;
	background: rgba(179,179,179,.8);
	
}
.contenido5{
	width: 90%;
	margin: auto;
}
.c-5 img{
	
	padding: 32px 0;
	padding-right: :30px;
	font-weight: bold;
	width: 90%;
	height: 505px;

}
